*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#55AA55;
}
img{
  border-radius:7px;
}
.memory{
  height:40rem;
  width:40rem;
  display:flex;
  flex-wrap: wrap;
  background-color:#55AA55;
  perspective: 1000px;
}
.card{
  height:200px;
  width:150px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  position:relative;
  margin:5px;
  border-radius:7px;
  transform-style: preserve-3d;
  transition: 0.3s;
  cursor:pointer;
}
.card:active{
transform:scale(0.95);
}
.flip{
  transform: rotateY(180deg);
}
.front-face, .back-face{
  height:100%;
  width:100%;
  position:absolute;
  backface-visibility: hidden;
  padding:20px;
  background-color:#55AA55;
  border-radius:7px;
  border:none;
}
.back-face{
transform:rotateY(180deg);
}
